<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    ```
    <title>Editar producto - TecnoMercado</title>
    ```

</head>

<body>

```
<h1>Editar producto</h1>

<p>
    Vendedor:
    <strong>{{ request.user.username }}</strong>
</p>

<p>
    Editando:
    <strong>{{ producto.nombre }}</strong>
</p>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Guardar cambios
    </button>

</form>

<br>

<a href="{% url 'productos:mis_productos' %}">
    Volver a mis productos
</a>
```

</body>
</html>
